$main-color: #89c997;
.workDetail{
    background-color: transparent;
    border: 0;
    position: relative;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    .detailWrap{
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        // width: 90%;
        flex: 0 0 94%;
        .detailHeader{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            padding: 35px 35px 5px;
            .title{
                font-size: 1.75rem;
                flex: 0 0 80%;
                // font-weight: bold;
                // margin-bottom: 10px;
            }
            .category{
                color: #191919;
                flex: 0 0 20%;
                text-align: right;
                span{
                    &+span{
                        &::before{
                            display: inline-block;
                            padding: 0 3px;
                            content:'\00B7';
                        }
                    }
                }
            }
            .profile{
                margin-top: 10px;
                display: flex;
                align-items: center;
                .profileImage{
                    width: 48px;
                    height: 48px;
                    background-color: $main-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .name{
                    margin-left: 15px;
                    color: #333333;
                }
            }
            .workInfo{
                margin-top: 10px;
                display: flex;
                > div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &+div{
                        margin-left: 20px;
                    }
                    svg{
                        font-size: 1.2rem;
                        color: #aaa;
                        margin-bottom: 5px;
                    }
                    h6{
                        font-size: 0.9rem;
                        color: #aaa;
                        margin-bottom: 8px;
                        font-weight: bold;
                    }
                    span{
                        font-size: 0.9rem;
                        color: #191919;
                        font-weight: bold;
                    }
                }
            }
            // .headerLeft{
            //     display: flex;
            //     flex-wrap: wrap;
            //     .title{
            //         font-size: 1.75rem;
            //         flex: 100%;
            //         // font-weight: bold;
            //         margin-bottom: 10px;
            //     }
            //     .profile{
            //         display: flex;
            //         align-items: center;
            //         .profileImage{
            //             width: 48px;
            //             height: 48px;
            //             background-color: $main-color;
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //             border-radius: 50%;
            //             background-repeat: no-repeat;
            //             background-size: cover;
            //         }
            //         .name{
            //             margin-left: 5px;
            //             color: #333333;
            //         }
            //     }
            //     .registrationDate{
            //         color: #999;
            //     }
            //     .category{
            //         border-left: 1px solid #999;
            //         margin-left: 5px;
            //         padding-left: 5px;
            //         color: #999;
            //         span{
            //             &+span{
            //                 &::before{
            //                     display: inline-block;
            //                     padding: 0 3px;
            //                     content:'\00B7';
            //                 }
            //             }
            //         }
            //     }
            // }
            // .headerRight{
                
            //     flex: 0 0 25%;
            //     > div{
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;
            //         align-items: center;
            //         svg{
            //             font-size: 1.2rem;
            //             color: #aaa;
            //             margin-bottom: 10px;
            //         }
            //         span{
            //             font-size: 1.2rem;
            //             color: #aaa;
            //         }
            //     }
            // }
        }
        .detailBody{
            // padding: 10px 0;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            .contents{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &.text{
                    justify-content: flex-start;
                }
                &.video{
                    width: 100%;
                    position: relative;
                    height: 0;
                    padding-bottom: 56.25%;
                    >iframe{
                        position:absolute; 
                        width:100%; 
                        height:100%;
                        top: 0;
                    }
                }
                &.grid{
                    .gridList{
                        flex: 0 0 100%;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        gap : 1px;
                        li{
                            width: 20px;
                            flex-grow: 20;
                            img{
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        .detailFooter{
            padding: 0 35px 30px;
            .btnBox{
                
                display: flex;
                justify-content: center;
                button{
                    background-color: #fff;
                    border: 1px solid #d9d9d9;
                    border-radius: 20px;
                    padding: 10px 20px;
                    font-size: 0.9rem;
                    color: #666;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #f85272;
                        color: #fff;
                    }
                    &+button{
                        margin-left: 15px;
                    }
                }
            }
            .tagBox{
                // padding: 10px 30px;
                display: flex;
                justify-content: space-between;
                color: #999;
                padding: 20px 0;
                ul{
                    flex: 0 0 80%;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        // border: 1px solid #666;
                        // padding: 5px 10px;
                        // border-radius: 20px;
                        font-size: 0.9rem;
                        // cursor: pointer;
                        &+li{
                            margin-left: 10px;
                        }
                    }
                }
                .registrationDate{
                    flex: 0 0 15%;
                    text-align: right;
                }
            }
            .commentBox{
                // background-color: #f5f5f5f5;
                border-top: 1px solid #d9d9d9;
                // padding: 30px;
                .commentList{
                    padding-top: 10px;
                    background-color: #fff;
                    ul{
                        li{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-end;
                            flex-wrap: wrap;
                            // padding: 15px;
                            &+li{
                                margin-top: 25px;
                            }
                            .profile{
                                flex: 0 0 6%;
                                .profileImage{
                                    width: 50px;
                                    height: 50px;
                                    background-color: #d9d9d9;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                            .contentsBox{
                                flex: 0 0 94%;
                                .info{
                                    display: flex;
                                    align-items: flex-end;
                                    h6{
                                        font-weight: bold;
                                    }
                                    span{
                                        font-size: 0.8rem;
                                        color: #888;
                                        margin-left: 5px;
                                    }
                                }
                                .contents{
                                    margin-top: 10px;
                                }
                                button{
                                    margin-top: 10px;
                                    background: transparent;
                                    color: #999;
                                    font-size: 0.8rem;
                                }
                            }
                            .reCommentList{
                                flex: 0 0 94%;
                                li{
                                    margin-top: 20px;
                                }
                            }
                            .reCommentInputBox{
                                padding: 15px;
                                display: none;
                                margin-top: 15px;
                                padding-top: 15px;
                                border-top: 1px solid #d9d9d9;
                                flex: 0 0 94%;
                                flex-wrap: wrap;
                                &.open{
                                    display: flex;
                                }
                                .profile{
                                    flex: 0 0 8%;
                                    > .profileImage{
                                        width: 50px;
                                        height: 50px;
                                        background-color: #d9d9d9;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 50%;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                }
                                textarea{
                                    flex: 0 0 92%;
                                    height: 100px;
                                }
                                .btnBox{
                                    margin-top: 10px;
                                    padding: 0;
                                    margin-left: auto;
                                    button{
                                        background-color: #fff;
                                        border: 1px solid #d9d9d9;
                                        padding: 10px 15px;
                                        border-radius: 20px;
                                        font-size: 0.9rem;
                                        transition: all 0.5s;
                                        &:hover{
                                            background-color: #f85272;
                                            color: #fff;
                                        }
                                        &+button{
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .inputBox{
                    // border-top: 1px solid #d9d9d9;
                    margin-top: 15px;
                    background-color: #fff;
                    display: flex;
                    flex-wrap: wrap;
                    .profile{
                        flex: 0 0 6%;
                        > .profileImage{
                            width: 50px;
                            height: 50px;
                            background-color: #d9d9d9;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    textarea{
                        flex: 0 0 88%;
                        height: 75px;
                        border-radius: 0;
                    }
                    button{
                        flex: 6%;
                        // margin-top: 15px;
                        background-color: rgba(137,201,151,0.8);
                        color: #fff;
                        border: 1px solid #d9d9d9;
                        border-left: 0;
                        font-size: 0.9rem;
                        transition: all 0.5s;
                        &:hover{
                            background-color: rgba(137,201,151,1);
                            color: #fff;
                        }
                    }
                }
            }   
        }
    }
    .detailSidebar{
        flex: 0 0 5%;
        ul{
            position: -webkit-sticky; /* 사파리 브라우저 지원 */
            position: sticky;
            top: 10px;
            padding: 10px 0;
            border-radius: 8px;
            background-color: #fff;
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                button{
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    padding: 0;
                    border: 0;
                    margin-bottom: 5px;
                    background-color: transparent;
                    border: 2px solid $main-color;
                    svg{
                        // color: $main-color;
                        font-size: .8rem;
                    }
                }
                &+li{
                    margin-top: 13px;
                }
                color: #fff;
                &.btnProfile{
                    position: relative;
                    button{
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: 2px solid #999;
                    }
                    .profileDetail{
                        position: absolute;
                        top: -10px;
                        left: calc(-100% - 250px) ;
                        width: 300px;
                        height: 300px;
                        border-radius: 8px;
                        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity 0.5s;
                        &.on{
                            pointer-events: auto;
                            opacity: 1;
                        }
                        .detailWrap{
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            padding: 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            border: 1px  solid #d9d9d9;
                            &::after{
                                position: absolute;
                                content: "";
                                display: block;
                                width: 20px;
                                height: 20px;
                                border-top: 1px solid #d9d9d9;
                                border-right: 1px solid #d9d9d9;
                                background-color: #fff;
                                top: 15px;
                                right: -10px;
                                transform: rotate(45deg);
                            }
                            .infoBox{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                .profileImage{
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 50%;
                                    background-position: center;
                                    background-size: cover;
                                }
                                .name{
                                    margin-top:15px; 
                                    color: #333;
                                    font-weight: bold;
                                    font-size: 1.6rem;
                                }
                                .category{
                                    ul{
                                        display: flex;
                                        justify-content: center;
                                        li{
                                            color: #999999;
                                            margin-top: 0;
                                            display: block;
                                            &+li{
                                                &::before{
                                                    padding: 0 5px;
                                                    content: '\00B7';
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .btnBox{
                                display: flex;
                                justify-content: space-between;
                                button,a{
                                    flex: 0 0 45%;
                                    border-radius: 20px;
                                    margin: 0;
                                    font-size: 0.8rem;
                                    transition: all 0.5s;
                                    font-weight: bold;
                                    &.btnArchive{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border: 1px solid $main-color;
                                        background-color: $main-color;
                                        &:hover{
                                            background-color: #fff;
                                            color: $main-color;
                                        }
                                    }
                                    &.btnFollow{
                                        border: 1px solid #333;
                                        background-color: #fff;
                                        color: #333;
                                        &:hover{
                                            background-color: #333;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        .btnClose{
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            border: 0;
                        }
                    }
                }
                .btnName{
                    pointer-events: none;
                    opacity: 0;
                    position: absolute;
                    background-color: #333;
                    color: #fff;
                    bottom: -35px;
                    padding:5px 10px;
                    width: max-content;
                    left: 50%;
                    z-index: 10;
                    transform: translate(-50%,0);
                    border-radius: 5px;
                    font-size: 0.8rem;
                    &::after{
                        position: absolute;
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: #333;
                        top: -5px;
                        left: 50%;
                        transform: translate(-50%,0) rotate(45deg);
                    }
                }
                &:hover{
                    .btnName{
                        opacity: 1;
                    }
                }
            }
        }
    }
    svg.fullHeart{
        color: #f85272;
    }
}

#shareModal{
    .modal-body{
        display: flex;
        flex-direction: column;
        .workInfo{
            display: flex;
            align-items: center;
            .thumbnailImage{
                width: 80px;
                height: 80px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 100%;
                }
            }
            .workTitle{
                margin-left: 10px;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        .snsList{
            margin-top: 30px;
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;    
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-self: center;
                    font-size: 0.8rem;
                    >button{
                        margin-bottom: 10px;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg{
                            font-size: 1rem;
                            color: #fff;
                        }
                        img{
                            max-width: 100%;
                            width: 25px;
                        }
                    }
                }
            }
        }
        .shareInput{
            margin-top: 30px;
        }
    }
}