.portfolio{
    .design{
        .designHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            button,a{
                padding: 10px;
                background-color: transparent;
                border: 0;
            }
        }
    }
}