@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
header{
    padding: 10px 0;
    .headerWrap{
        display: flex;
        align-items: center;
        .logo{
            a{
                font-size: 1.2rem;
            }
        }
        .gnb{
            margin-left: 5rem;
            ul{
                display: flex;
                li{
                    &+li{
                        margin-left: 1rem;
                    }
                }
            }
        }
        .pnb{
            margin-left: auto;
            > ul{
                display: flex;
                align-items: center;
                > li{
                    position: relative;
                    &+li{
                        margin-left: 3rem;
                    }
                    button{
                        padding: 0;
                        margin: 0;
                        border: 0;
                        background: transparent; 
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.btnSearch{
                            font-size: 1.2rem;
                        }
                        &.btnAlarm{
                            font-size: 1.4rem;
                        }
                        &.btnMyPage{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background: #e8e8e8;
                            font-weight: bold;
                        }
                    }
                    a{
                        &.btnUpload{
                            background: #f85272;
                            color: #fff;                            
                            padding: 5px 30px;
                            border-radius: 30px;
                        }
                    }
                    .myPageMenu{
                        position: absolute;
                        z-index: 999;
                        background: #fff;
                        width: 200px;
                        // padding: 10px;
                        right: -6px;
                        border-radius: 5px;
                        border: 1px solid #d9d9d9;
                        top: calc(100% + 10px);
                        &::before{
                            width: 10px;
                            height: 10px;
                            display: block;
                            content: '';
                            opacity: 1;
                            position: absolute;
                            background: #fff;
                            border: 1px solid #ddd;
                            border-color: #ddd #ddd transparent transparent;
                            top: -5px;
                            right: 16px;
                            transform: rotate(-45deg );
                            z-index: 100;
                        }
                        > div{
                            padding: 5px 0;
                            &+div{
                                border-top: 1px solid #e8e8e8;
                            }
                            ul{
                                li{
                                    a{
                                        display: block;
                                        padding: 10px; 
                                        transition: background-color 0.5s;
                                        color: #333;
                                        &:hover{
                                            color: #333;
                                            background-color: #d9d9d9;
                                        }   
                                    }
                                }
                            }
                            button{
                                width: 100%;
                                text-align: left;
                                justify-content: left;
                                padding: 10px;
                            }
                            &.profile{
                                padding: 15px;
                                display: flex;
                                align-items: center;
                                > .profileImage{
                                    width: 30px;
                                    height: 30px;
                                    background-color: #d9d9d9;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                }
                                > .profileInfo{
                                    margin-left: 5px;
                                    h6{
                                        font-weight: bold;
                                    }
                                    p{
                                        font-size: 0.9rem;
                                        color: #999;
                                        margin-top: 3px;
                                    }
                                }
                            }
                        }
                    }
                    .alarmMenu{
                        position: absolute;
                        z-index: 999;
                        background: #fff;
                        width: 250px;
                        // padding: 10px;
                        right: -12px;
                        border-radius: 5px;
                        border: 1px solid #d9d9d9;
                        top: calc(100% + 10px);
                        &::before{
                            width: 10px;
                            height: 10px;
                            display: block;
                            content: '';
                            opacity: 1;
                            position: absolute;
                            background: #fff;
                            border: 1px solid #ddd;
                            border-color: #ddd #ddd transparent transparent;
                            top: -5px;
                            right: 16px;
                            transform: rotate(-45deg );
                            z-index: 100;
                        }
                        > div{
                            padding: 5px 0;
                            &.countAlarm{
                                padding:10px;
                                border-bottom: 1px solid #d9d9d9;
                                font-size: 0.9rem;
                                color: #f85272;
                            }
                            &.alarmList{
                                height: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}