.portfolio{
    .block{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .gridWrap{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            margin-right: calc(var(--bs-gutter-x)/ -2);
            margin-left: calc(var(--bs-gutter-x)/ -2);
            > *{
                flex-shrink: 0;
                width: 100%;
                max-width: 100%;
                padding-right: calc(var(--bs-gutter-x)/ 2);
                padding-left: calc(var(--bs-gutter-x)/ 2);
                margin-top: var(--bs-gutter-y);
                &.grid1{
                    flex: 0 0 auto;
                    width: 100%;
                }
                &.grid2{
                    flex: 0 0 auto;
                    width: 50%;
                }
                &.grid3{
                    flex: 0 0 auto;
                    width: 33.3333333333%;
                }
                &.grid4{
                    flex: 0 0 auto;
                    width: 25%;
                }
                &.grid5{
                    flex: 0 0 auto;
                    width: 20%;
                }
                &.grid6{
                    flex: 0 0 auto;
                    width: 16.6666%;
                }
            }
            .contents{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        > .btnConfig{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: skyblue;
            color: #fff;
            font-size: 1.2rem;
            opacity: 0;
            transition: 0.5s;
        }
        > .addBlock{
            position: absolute;
            bottom: -15px;
            width: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-content: center;
            >.icon{
                width: 30px;
                height: 30px;
                background-color: skyblue;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 1.2rem;
                color: #fff;
                position: relative;
                z-index: 10;
            }
            &::after{
                width: 100%;
                height: 2px;
                background-color: skyblue;
                content:'';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0,-50%);
                z-index: 2;
            }
        }
        &:hover{
            > .btnConfig{
                opacity: 1;
            }
        }
    }
}
@import "./image/images.scss";
@import "./contents/contents.scss";
@import "./title/title.scss";
@import "./work/work.scss";
@import "./contact/contact.scss";